.bannerContainer {
    display: flex;
    justify-content: center;
}
.banner {
    width: 90%;
    height: 223px;
    border-radius: 25px;
    filter: brightness(75%);
    &-text {
        position:absolute;
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 142.6%;
        color: #ffffff;
        align-self: center;
    }
}