    
.card {  
    display: flex;
    height: 340px;
    width: 340px;
    color: #f6f6f6;
    border-radius: 10px; 
    box-shadow: inset 0px -80px 36px -21px rgba(66,66,66,0.80);
    &-link {
        text-decoration: none;
        border-radius: 10px;
        height: 100%;
        margin-bottom: 3%;
        z-index: 1;
    }
    &-title {
        width: 20%;
        padding: 0.8em;
        padding-top: 260px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 142.6%;
        position: absolute;
    }
    &-img {
        object-fit: cover;
        border-radius: 10px;
        width: 100%;
        z-index: -2;
    }
}