    
.card {  
    height: 340px;
    width: 340px;
    color: #f6f6f6;
    border-radius: 10px; 
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-color: $primary;
    margin-bottom: 14%;
    display: flex;
    &-link {
        text-decoration: none;
        min-height: 100%;
        border-radius: 10px;
    }
    &-title {
        width: 18%;
        padding: 10px;
        padding-top: 260px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 142.6%;
        position: absolute;
    }
    &-img {
        object-fit: cover;
        border-radius: 10px;
        width: 100%;
    }
}