.error {
    &-container {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
}
    &-number {
        font-weight: 700;
        font-size: 288px;
        line-height: 142.6%;
        text-align: center;
        color: $primary;
        width: 100%;
    }
    &-text {
        color: $primary;
        font-weight: 500;
        font-size: 36px;
        line-height: 142.6%;
        margin-bottom: 5em;
    }
    &-link-return {
        color: $primary;
        font-weight: 500;
        font-size: 18px;
        line-height: 142.6%;
        margin-bottom: 8.8em;
    }
}