.tags {
    display: flex;
    flex-wrap: wrap;
}
.logement-info1-tags {
        text-align: center;
        color: #f7f7f7;
        border: 1px solid transparent;
        border-radius: 10px;
        background-color: $primary;
        padding:  4px 40px;
        margin-right: 1.25em;
        margin-top: 1.25em;
}