// Page d'accueil

.main-accueil {
    max-height: 100%;
}

.accueil-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #f7f7f7;
    padding: 50px; 
    margin: 3% 5% 3% 5%;
    border-radius: 25px;
    width: 90%;

}

// Page logements

.logement-container {
    height: 100vh;
    margin: 0 7% 0 7%;
    display: flex;
    justify-content: center;

}